.col-md-4{
    margin-bottom: 150px;
    margin-top: 150px;
    margin: auto;
}

.blue{
    background-color: #3498DB;
}

th{
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    float: right;
}

h4{
    
    font-weight: bold;
}